.btn {
  padding: 1px 5px;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid transparent;
}

.btn:focus {
  outline: none;
}

.btn-white {
  color: #005271;
  background-color: #fff;
}

.btn-white:hover {
  background-color: #E8F1F2;
}

._page-note-quick-view {
  display: flex;
}

._page-note-quick-view-content {
  max-width: 280px;
  min-width: 250px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border: 1px solid #005271;
  box-sizing: border-box;
}

._page-note-quick-view-content-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #005271;
}

._page-note-quick-view-content-summary {
  font-size: 14px;
  font-weight: 600;
  display: flex;
}

._page-note-quick-view-content-body {
  padding: 8px 0;
  font-size: 13px;
}

._page-note-quick-view-content-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

._page-note-quick-view-content-footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

._page-note-quick-view-content-footer-tag-list {
  color: #005271;
}

._page-note-quick-view-content-footer-control {
  color: #aaaaaa;
}

._page-note-quick-view-content-footer-control a {
  color: #aaaaaa;
  text-decoration: none;
}

._page-note-quick-view-content-footer-tag-item {
  margin-right: 5px;
}

._page-note-quick-view-content-footer-tag-item::before {
  content: "#";
}

._page-note-quick-view-label {
  background-color: #dc3545;
  width: 25px;
  height: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #005271;
  box-sizing: border-box;
  border-left: 0;
}
