._page-note-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: small;
  z-index: 200;
}

._page-note-wrapper .al-right {
  text-align: right;
}

._page-note-wrapper .ps-top-right {
  position: absolute;
  top: 7px;
  right: 10px;
}

._page-note-wrapper .btn {
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 3px 5px;
  border-radius: 5px;
}

._page-note-wrapper .btn:focus {
  outline: none;
}

._page-note-wrapper .btn-accent {
  color: #E8F1F2;
  border-color: #005271;
  background-color: #005271;
}

._page-note-wrapper .btn-accent:hover {
  opacity: .7;
}

._page-note-wrapper .btn-base {
  color: #005271;
  border-color: #E8F1F2;
  background-color: #E8F1F2;
}

._page-note-wrapper .btn-base:hover {
  opacity: .7;
}

._page-note-wrapper .btn-submit {
  color: #fff;
  border-color: #5996ac;
  background-color: #5996ac;
}

._page-note-wrapper .btn-submit:hover {
  opacity: .7;
}

._page-note {
  position: relative;
  width: 300px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

._page-note-header {
  background-color: #005271;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
}

._page-note-content {
  padding: 10px 10px 20px;
  box-sizing: border-box;
  position: relative;
}

._page-note-content-form-item {
  margin-bottom: 10px;
}

._page-note-content-form-color-label {
  display: inline-flex;
  width: 30px;
  height: 24px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

._page-note-content-form-input-label {
  font-size: .8rem;
  color: #aaaaaa;
  display: block;
  margin-bottom: 4px;
}

._page-note-content-form-input-text {
  box-sizing: border-box;
  font-size: 15px;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px 8px;
  width: 100%;
  background-color: transparent;
}

._page-note-content-form-input-text:focus {
  outline: none;
  border-bottom: 2px solid #5996ac;
}

._page-note-content-form-input-textarea {
  box-sizing: border-box;
  padding: 5px 8px;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  resize: vertical;
  border: 1px solid #aaaaaa;
  background-color: transparent;
}

._page-note-content-form-input-textarea:focus {
  outline: none;
  border: 2px solid #5996ac;
}

._page-note-content-form-input-radio {
  display: none;
}

._page-note-content-form-input-radio:checked + ._page-note-content-form-color-label::before {
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
}
