html {
  color: #000000;
}

body {
  margin: 0;
  background-color: #E8F1F2;
  width: 450px;
  position: relative;
  min-height: 40px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-block-start: .5em;
  margin-block-end: .5em;
  font-weight: normal;
}

.hidden {
  display: none;
}

.btn {
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 5px;
}

.btn:focus {
  outline: none;
}

.btn-accent {
  color: #E8F1F2;
  border-color: #005271;
  background-color: #005271;
}

.btn-accent:hover {
  opacity: .7;
}

.btn-base {
  color: #005271;
  border-color: #E8F1F2;
  background-color: #E8F1F2;
}

.btn-base:hover {
  opacity: .7;
}

.btn-transparent {
  color: #005271;
  border-color: transparent;
  background-color: transparent;
}

.btn-transparent:hover {
  opacity: .7;
}

.round {
  border-radius: 50%;
  width: auto;
}

.col-base {
  color: #E8F1F2;
}

.al-right {
  text-align: right;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #005271;
  width: 100%;
  color: #E8F1F2;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2px 18px;
  box-sizing: border-box;
}

.header .search-bar {
  background-color: #E8F1F2;
  color: #000000;
  border-radius: 20px;
  padding: 0px 15px;
  color: #005271;
}

.header .search .input-text {
  background-color: transparent;
  color: #000000;
  border: 0;
  font-size: 1.1em;
  width: 12em;
}

.header .search .input-text:focus {
  outline: none;
}

.header .search button {
  padding: 1px 2px;
}

.content {
  background-color: #E8F1F2;
  top: 30px;
  position: relative;
}

.tab-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  border: 1px solid #005271;
}

.tab-menu .checked {
  background-color: #E8F1F2;
  color: #005271;
}

.tab-item {
  background-color: #5996ac;
  color: #E8F1F2;
  border-right: 1px solid #005271;
  border-left: 1px solid #005271;
  flex: auto;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.tab-item:hover {
  opacity: .7;
}

.note-list {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.note-item {
  display: flex;
  margin-top: 10px;
}

.note-content {
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.note-switch {
  text-align: center;
  color: #005271;
  padding: 5px;
}

.note-switch:hover {
  opacity: .5;
}

.note-title {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-weight: normal;
  font-size: 1.3em;
}

.note-body {
  border-top: 1px solid #5996ac;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.note-label {
  background-color: #00C0CC;
  height: 63px;
  width: 30px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.note-footer {
  display: flex;
  justify-content: space-between;
}

.note-footer .control {
  list-style: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.note-footer .control a {
  text-decoration: none;
  color: #aaaaaa;
}

.note-footer .control a:hover {
  color: #5996ac;
}

.note-tag-list {
  list-style: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.note-tag-list li {
  display: inline-block;
  margin-left: 5px;
  font-size: 1em;
  color: #5996ac;
}

.note-tag-list li::before {
  content: "#";
}
