$main-color: #000000;
$base-color: #E8F1F2;
$accent-color: #005271;
$accent-hover-color: #5996ac;
$sub-color: #aaaaaa;
$danger-color: #dc3545;
$danger-hover-color: #e6717c;
$danger-sub-color: #f8d8db;
$success-color: #24963e;
$success-sub-color: #d4edd9;


$label-color: #00C0CC;

$window-width: 300px;

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  color: $main-color;
}

a {
  color: $accent-color;
  &:hover {
    opacity: .7;
  }
}

.mt {
  &-10 {
    margin-top: 10px;
  }
  &-20 {
    margin-top: 20px;
  }
}

.ml {
  &-10 {
    margin-left: 10px;
  }
  &-20 {
    margin-left: 20px;
  }
}

.btn {
  padding: 2px 8px;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid transparent;
  &:focus {
    outline: none;
  }
  &-accent {
    color: $base-color;
    border-color: $accent-color;
    background-color: $accent-color;
    &:hover {
      opacity: .7;
    }
  }
  &-accent-outline {
    background-color: #fff;
    color: $accent-color;
    border: 0;
    &:hover {
      color: $accent-hover-color;
    }
  }
  &-danger-outline {
    background-color: #fff;
    color: $danger-color;
    border: 0;
    &:hover {
      color: $danger-hover-color;
    }
  }
  &-base {
    background-color: $base-color;
    color: $accent-color;
    border: 0;
    &:hover {
      opacity: .7;
    }
  }
  &-sub-outline {
    background-color: #fff;
    color: $sub-color;
    border-color: $sub-color;
    &:hover {
      background-color: $sub-color;
      color: #fff;
      border-color: $sub-color;
    }
  }
}

.notify-bar {
  border-radius: 5px;
  &-wide {
    border-radius: 0;
  }
  ul {
    margin: 0;
    padding: 5px 10px;
    list-style: none;
  }
  &-error {
    background-color: $danger-sub-color;
    color: $danger-color;
  }
  &-success {
    background-color: $success-sub-color;
    color: $success-color;
  }
}


.header {
  background-color: $accent-color;
  padding: 7px 20px;
  display: flex;
  justify-content: space-between;
  .logo {
    font-size: 1.2em;
    color: $base-color;
  }
}

.container {
}


.search-bar {
  padding: 10px 20px;
  input[type=text] {
    border: 0;
    border-bottom: 1px solid $sub-color;
    padding: 3px 5px;
    font-size: 1em;
    min-width: 300px;
    &:focus {
      outline: none;
    }
  }
  .form-label {
    font-weight: 600;
  }
}

.note-list {
  .label {
    border-radius: 5px;
    height: .7em;
    width: 40px;
    background-color: $main-color;
  }
  .page-link {
    color: $accent-color;
    text-decoration: none;
    &:hover {
      color: $accent-hover-color;
    }
  }
  td {
    font-size: 14px;
  }
}

.table {
  &-wide {
    width: 100%;
  }
  table {
    border-spacing: 0;
  }
  tr {
    border: 1px solid $sub-color;
  }
  th {
    background-color: #f0f0f0;
    border-right: 1px solid $sub-color;
    border-top: 1px solid $sub-color;
    border-bottom: 2px solid $sub-color;
    padding: 5px 10px;
    &:last-child {
      border-right: 0px solid $sub-color;
    }
  }
  td {
    border-right: 1px solid $sub-color;
    border-bottom: 1px solid $sub-color;
    padding: 5px 10px;
    word-break: break-word;
    &:last-child {
      border-right: 0px solid $sub-color;
    }
  }
}

.form {
  max-width: 400px;
  box-sizing: border-box;
  .form-item {
    display: block;
    margin-bottom: 20px;
  }
  .form-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .form-label {
    display: block;
    color: $accent-color;
    font-size: smaller;
  }
  .form-color-label {
    display: inline-flex;
    width: 50px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    border-radius: 5px;
  }
  .input-text, .input-textarea {
    font-size: .9em;
    width: 100%;
  }
  .input-text {
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid $sub-color;
    &:focus {
      outline: none;
    }
  }
  .input-textarea {
    border: 1px solid $sub-color;
    box-sizing: border-box;
    resize: vertical;
    min-height: 160px;
    &:focus {
      outline: none;
    }
  }
  .input-radio {
    display: none;
      &:checked + .form-color-label {
        &::before {
          // TODO: font awesomeつかいてえ
          color: #fff;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "\f00c";
        }
      }
  }
}