$main-color: #000000;
$base-color: #E8F1F2;
$accent-color: #005271;
$accent-hover-color: #5996ac;
$sub-color: #aaaaaa;
$danger-color: #dc3545;
$danger-hover-color: #e6717c;
$danger-sub-color: #f8d8db;

$label-color: #00C0CC;

$window-width: 320px;

$font-family: "Arial, Helvetica, sans-serif";

// html {
//   background-color: $base-color;
// }

// body {
//   margin: 0;
// }

#_page-note-wrapper {
  position: fixed;
  width: auto;
  height: auto;
  font-size: small;
  top: 0;
  left: 0;
  z-index: 20000;
  .al-right {
    text-align: right;
  }

  .ps-top-right {
    position: absolute;
    top: 7px;
    right: 10px;
  }

  .btn {
    box-sizing: border-box;
    border: 2px solid transparent;
    padding: 1px 5px;
    border-radius: 5px;
    box-shadow: none;
    min-height: 0;
    &:focus {
      outline: none;
    }
    &-accent {
      color: $base-color;
      border-color: $accent-color;
      background-color: $accent-color;
      &:hover {
        opacity: .7;
      }
    }
    &-accent-outline {
      color: $accent-color;
      border-color: $accent-color;
      background-color: #fff;
      &:hover {
        color: $base-color;
        border-color: $accent-color;
        background-color: $accent-color;
      }
    }
    &-base {
      color: $accent-color;
      border-color: $base-color;
      background-color: $base-color;
      &:hover {
        opacity: .7;
      }
    }
    &-sub-outline {
      color: $sub-color;
      border-color: $sub-color;
      background-color: #fff;
      &:hover {
        color: #fff;
        border-color: $sub-color;
        background-color: $sub-color;
      }
    }
    &-submit {
      color: #fff;
      border-color: $accent-hover-color;
      background-color: $accent-hover-color;
      &:hover {
        opacity: .7;
      }
    }
  }
}

#_page-note-wrapper ._page-note {
  position: relative;
  width: $window-width;
  // height: 100px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
  background-color: #fff;
  // z-index: 3000;
  font-family: $font-family;
  input, textarea {
    font-family: $font-family;
  }
  &-header {
    background-color: $accent-color;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
  }
  &-content {
    padding: 10px 10px 20px;
    box-sizing: border-box;
    position: relative;
  }
  &-error-bar {
    background-color: $danger-sub-color;
    color: $danger-color;
    border-radius: 5px;
    ul {
      margin: 0;
      padding: 5px 10px;
      list-style: none;
    }
    li {
      word-break: break-all;
    }
  }
}

#_page-note-wrapper ._page-note-content-info {
  font-size: 13px;
  display: block;
  a {
    color: $accent-color;
    &:hover {
      opacity: .7;
    }
  }
}

#_page-note-wrapper ._page-note-content-form {
  &-item {
    margin-bottom: 10px;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4px;
  }
  &-color-label {
    display: inline-flex;
    width: 30px;
    height: 24px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
  }
  &-input {
    &-label {
      font-size: 14px;
      color: $sub-color;
      // font-weight: bold;
      display: block;
    }
    &-text {
      box-sizing: border-box;
      font-size: 14px;
      border: 0;
      border-bottom: 1px solid $sub-color;
      padding: 3px 0px;
      width: 100%;
      background-color: transparent;
      &:focus {
        outline: none;
        border-bottom: 2px solid $accent-hover-color;
      }
    }
    &-textarea {
      box-sizing: border-box;
      padding: 5px 8px;
      width: 100%;
      min-height: 100px;
      max-height: 200px;
      resize: vertical;
      border: 1px solid $sub-color;
      background-color: transparent;
      &:focus {
        outline: none;
        border: 2px solid $accent-hover-color;
      }
    }
    &-radio {
      display: none;
      &:checked + ._page-note-content-form-color-label {
        &::before {
          // TODO: font awesomeつかいてえ
          color: #fff;
          content: "v";
          // font-family: "Font Awesome 5 Free";
          // font-weight: 900;
          // content: "\f00c";
        }
      }
    }
    
  }
}

#_page-note-quick-button-wrapper {
  position: absolute;
  z-index: 50000;
  button {
    background-color: transparent;
    background-size: cover;
    height: 32px;
    width: 32px;
    border: 0;
    &:hover {
      opacity: .7;
    }
  }
}